<h2>Nyheter</h2>
<% notices.each do |notice| %>
  <div id="notice">
    <p>
      <b><%= link_to notice.title, notice_url(notice),:class => "navlink" %></b><br />
      <%= h truncate notice.text, :length => 100 %><br />
    </p>
  </div>
<% end %>
<div><%= will_paginate notices,:page_links => false, :previous_label => "« Nyare", :next_label => "Äldre »" %></div>
