<table>
<tr>
<td>
<h2>Vad kan vi göra för er?</h2>
<p>Vi vill att det skall vara lätt att vara kund hos oss. Vi kan därför ta det kompletta ansvaret för er lösning - från idé och utveckling till drift och underhåll.</p>
<p>Vi ser till varje kunds specifika önskemål och möjligheter. Med hjälp av erfarenhet och realistiska idéer omvandlar vi dem till praktiska och branschanpassade lösningar.</p>
<h3>Webbdesign</h3>
<p>Det första intrycket är alltid viktigt och en webbdesign som är anpassad för er profil och där alla detaljer hjälper till att skapa ett positivt intryck, ger er förutsättningarna att lyckas.</p>
<h3>Hemsidor</h3>

  <p>Det gäller både att få besökare till sin hemsida och att få dem att stanna kvar. Med professionellt utformade hemsidor ökar chansen. Vi hjälper ert företag med att utforma den perfekta webbplatsen för just era behov!

Vårt Motto Service och Kvalite behöver inte vara dyrt.</p>
<h3>Webbsystem</h3>
<p>Med ett webbsystem kan man få större flexibilitet till en lägre kostnad. Man får även möjlighet att koppla ihop sitt webbsystem med externa system eller med hemsidan.</p>
<h3>Sökoptimering</h3>

<p>Genom att göra en sökoptimering av hemsidan underlättar man för sökmotorerna att hitta era sidor och får er att synas högre upp i söklistorna. Genom vår sammarbetspartner Svensk Mediarådgivning hjälper vi er med att ta fram en lösning för just era behov!</p>
<p></p>
<p></p>
<p></p>
</td>
<td>
<img src="/images/logo90.gif" style="float:right;margin: 10px;">
</td>
</tr>
</table>
<%= render 'analytics/ajax' %>