<h2>Projekt</h2>

<div class="showcase">
<h3>Nisses Bygg</h3>
  <div class="showcasedescr">
<p>
  <a href="http://nissesbygg.se">
    <img src="/images/thumbs/thumb_nisses.gif" class="showcasethumb"/>
  <a/>
Nissesbygg saknade en hemsida att länka till från sökmotorer och informera potensiella kunder av vika tjänster och produkter man erbjuder. Efter samtal med våra säljare där preferenser gicks igenom kunde sidan göras färdig på 2 veckor.
<br />
<a href="http://nissesbygg.se">Klicka här</a>
</p>
</div>

</div>

<div class="showcase">
<h3>Takläggare AB</h3>
  <div class="showcasedescr">
<p>
  <a href="http://takarbete.se">
    <img src="/images/thumbs/thumb_tak.gif" class="showcasethumb"/>
  <a/>
Takarbete.se ville ha en ny logotyp samt design på sin nuvarande hemsida. Även lägga till funktionalitet med möjlighet att lägga upp egna referens bilder på jobb och dyligt. Detta kunde vi hjälpa dem med.
<br />
<a href="http://takarbete.se">Klicka här</a>
</p>
</div>

</div>

<div class="showcase">
<h3>Engmans Rör</h3>
  <div class="showcasedescr">
<p>
  <a href="http://engmansror.heroku.com">
    <img src="/images/thumbs/thumb_engmans.gif" class="showcasethumb"/>
  <a/>
Engmans rör behövde en enkel hemsida men möjliget att göra offert förfrågningar och dylikt för att underlätta för kunderna.
<br />
<a href="http://engmansror.heroku.com">Klicka här</a>


</p>
</div>
</div>

<div class="showcase">
<h3>Julgranskungen</h3>
  <div class="showcasedescr">
    <p>
      <a href="http://julgranskungen.heroku.com">
        <img src="/images/thumbs/thumb_julgranskungen.gif" class="showcasethumb"/>
      <a/>
    Julgranskungen behövde uppdatera sin hemsida. Här kan du se resultatet.
	<br />
	  <a href="http://julgranskungen.heroku.com">Klicka här</a>

    </p>
  </div>
</div>
<%= render 'analytics/ajax' %>
